.body{
  max-width: 100vw;
  padding: 0px 24px 0px 0px;
}
.container{
  max-width: 100vw;
  height: 92px;
  padding: 0px 24px 0px 24px;
  gap: 0px;
  border: 0px 0px 8px 0px;
  opacity: 0px;
}
.hadder{
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  padding-right: 24px;
}
.networks{
  display: inline-block;
  padding-top: 48px;
  padding-left: 48px;
}
.imgborder{
  border: 1px solid black;
  border-radius: 8px;
  padding: 12px 12px 12px 12px;
  margin-right: 16px;
}
.dropdown{
  padding-left: 24px;
  display: inline; 
}
.logo{
  display: inline;
}
.dropdown-menu{
  width: 540px;
  height: 1,080px;
  opacity: 0px;    
  font-family: manrope;
  background: #E9E4E0;
}
.full-items-menu{
  margin-top: 48px;
}
.close_img{
  position: absolute;
  margin-top: 24px;
  margin-right: 24px;
  margin-left: 464px;
  border-radius: 8px;
  padding: 12px 12px 12px 12px;
  border: 1px solid #2F2D2E;
}
.btn-secondary{
  text-decoration: none;
}
.dropdown-item {
  padding-left: 48px;
  padding-top: 24px;
  padding-bottom: 16px;
  font-family: Manrope;
  font-size: 40px;
	font-weight: 800;
	color: #C9C0BA;
  line-height: 44px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.dropdown-item:hover {
	color: #2F2D2E;
}
.request{
  width: 311px;
  height: 72px;
  border-radius: 8px;
  margin-left: 48px;
  margin-top: 24px;
  margin-bottom: 24px;
  border: 1px solid #2F2D2E;
  padding: 24px 40px 24px 40px;
  background-color: #2F2D2E;
}
.req_font{
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration: none;
  color: #FFFFFF;
}
.languages{
  padding-top: 12px;
  padding-left: 48px;
  margin-bottom: 236px;
}
.translate{
  border: 1px solid black;
  border-radius: 8px;
  margin-right: 16px;
  padding: 8px 16px 8px 16px;
}
.dilers{
  display: inline; 
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #C4B0A2;
}


.product_catalog{
  max-width: 100vw;
  padding: 48px 24px 0px 24px;
}
.text_swap_catalog{
  text-decoration: none;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #C4B0A2;
}
.text_swap_catalog:hover{
  color: #2F2D2E;
}
.big_catalog_text{
  font-family: Manrope;
  font-size: 54px;
  font-weight: 800;
  line-height: 56px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #2F2D2E;
}
.progress_bar{
  display: flex;
  align-items: center;
  width: 301px;
  height: 44px;
  gap: 16px;
  opacity: 0px;
}
.catalog_and_progress_bar{
  display: grid; 
  grid-template-columns: 1260px 612px;
  max-width: 1872px;
  justify-content: space-between;
}
.progress_bar_full{
  display: grid; 
  grid-template-columns: 55% 45%;
  justify-content:right;
}
.number_progress_bar{
  font-family: Manrope;
  font-size: 32px;
  font-weight: 800;
  line-height: 44px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.progress_bar_change{
  display: inline-block;
  width: 191px;
  height: 8px;
  padding: 2px 0px 0px 0px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: #E9E4E0;
}
.navigation_buttons{
  display: inline;
}

.collection{
  padding-top: 24px;
  display: grid;
  justify-content: start;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100%;
  row-gap: 24px;
  column-gap: 24px;
 }
.collection_container{
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 50% 50%;
  width: 608px;
  height: 350px;
  border-radius: 8px;
}
.collection_img{
  max-width: 608px;
  max-height: 380px;
  width: auto;
  height: auto;
  filter: brightness(60%);
  border-radius: 8px;
}
.collection_icon{
  z-index: 1;
  padding: 100px 0px 0px 60px;
}
.text{
  font-family: Manrope;
  font-size: 40px;
  font-weight: 800;
  line-height: 44px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #FFFFFF;
  z-index: 1;
  padding: 64px 0px 0px 32px;
}
.low_text{
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}


.filters{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  justify-items: center;
  padding: 50px 0px 0px 160px;
  gap: 6px;
}
.filter_item{
  padding: 8px 16px 8px 16px;
  
  border: 1px solid #C4B0A2;
  border-radius: 8px;
 
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #C4B0A2;
  cursor: pointer;

  margin-right: 16px;
}
.filter_item:hover{
  border: 1px solid #2F2D2E;
  color: #2F2D2E;
}
.main_catalog{
  display: grid;
  margin: 24px;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 356px 356px);
  grid-template-rows: repeat(auto-fit, 439px 439px);
  row-gap: 24px;
  column-gap: 24px;
}
.main_catalog_item{
  width:356px;
  height: 439px;
  border: 1px solid #C9C0BA;
  border-radius: 8px;

  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 80% 20%;
}
.product_link{
  text-decoration:none;
  color: #2F2D2E;
}
.main_catalog_item:hover{
  border-color: #2F2D2E;
}
.main_item_img{
  width: 354px;
  height: 355px;
  gap: 20px;
  opacity: 0px;
  background-color:#E9E4E0;
  border: 1px solid #C9C0BA;
  border-radius: 8px 8px 0px 0px;
}
.main_catalog_text{
  padding: 16px 0px 16px 16px;
}
.main_catalog_text_top{
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.main_catalog_text_price{
  padding-top: 4px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.main_catalog_icon_show{
  margin-top: 16px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #C4B0A2
}
.main_button_showmore{
  display: flex;
  justify-content: center;
  margin-top: 24px;
  
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #FFFFFF;
}
.border_showmore{
  padding: 16px 32px 16px 32px;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid #C4B0A2;
  background-color: #C4B0A2;
  background-size: 220px 52px;
}


.feedback_form{
  display: grid;
  align-items: center;
  margin: 50px 24px 24px 24px;
  width: 100vw;
  height: 659px;
  padding-bottom: 24px;
}
.feedback_fon{
  background-image: url(/img/feedback.png);
  border-radius: 8px;
  border: 1px;
  width: 1772px;
  height: 635px;
}
.feedback_text{
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-rows: 10% 90%;
  grid-template-columns: 50% 50%;
  margin-top: 120px;
  border: 16px double #FFFFFF33;

  gap: 8px;
  border-radius: 8px;

  backdrop-filter: blur(20px);
  margin-left: 417px;
  width: 1086px;
  height: 371px;
  padding: 100px;
}
.feedback_text_1{
  font-family: Manrope;
  font-size: 40px;
  font-weight: 800;
  line-height: 44px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #FFFFFF;
}
.feedback_text_2{
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #FFFFFF;
}
.feedback_text_place{
  display: grid;
  align-content: center;
  justify-content: start;
  margin-top: 10px;
}
.feedback_input{
  display: grid;
  grid-template-columns: 459px;
  grid-template-rows: 103px 103px 103px;
  background-color: #FFFFFF;
  width: 459px;
  height: 308px;
  align-content:center;
  justify-content: center;
  border-radius: 8px;
  border: 1px solid #2A2824B2;
}
.full_input{
  margin: 24px 24px 0px 40px;
  width: 379px;
  height: 64px;
  border-radius: 8px;
  border: 1px solid #2A2824B2;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #2A2824B2;
  padding-left: 16px;
}
/*.full_input::placeholder{
  padding-left: 16px;
}*/
.send_grid{
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-columns: 50% 50%;
}
.send_grid_text{
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-left: 48px;
}
.send_grid_button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 185px;
  height:52px;
  padding: 16px 32px 16px 32px;
  border-radius: 8px;
  border: 1px solid #C4B0A2;
  background-color: #C4B0A2;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #FFFFFF;  
}

/*---------------------------------------*/
.product_form_main{
  padding-top: 24px;
  display: grid;
  grid-template-columns: repeat(auto-fit,50% 50%);
}
.product_form_main_img_div{
  display: grid;
  justify-items: end;
}
.product_form_img_main{
  max-width: 732px;
  max-height: 646px;
  width: auto;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.product_form_main_content_div{
  display: grid;
  max-height: 646px;
  grid-template-rows: 24px 100px 42px 42px 42px 42px 42px 1fr;
  row-gap: 18.5px;
  max-width: 732px;
}
.product_form_main_content_div_had{
  display: grid;
  justify-items: start;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  max-width: 558px;
  padding-left: 24px;
}
.product_form_main_content_div_had_spans{
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.product_form_main_content_div_had_spans:hover{
  cursor: pointer;
  color: #C4B0A2;
}
.product_form_main_content_div_had_url{
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration: none;
  color: #C4B0A2;
}

.product_form_main_content_div_text{
  padding-left: 24px;
}
.product_form_main_content_div_text_big{
  font-family: Manrope;
  font-size: 54px;
  font-weight: 800;
  line-height: 56px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.product_form_main_content_div_text_small{
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.product_form_main_content_div_stiles{
  padding-top: 16px;
  padding-left: 24px;
  display: grid;
  grid-template-columns: 25% 75%;
  max-width: 708px;
}
.product_form_main_content_div_stiles_text{
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.product_form_main_content_div_stiles_variant{
  display: grid;
  grid-template-columns: 140px 107px 132px;
}
.product_form_main_content_div_stiles_variant_venako{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  border: 1px solid #E9E4E0;
  border-radius: 8px;
  width: 131px;
  height: 40px;
}
.product_form_main_content_div_stiles_variant_venako_text{
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #2A2824B2;
}
.product_form_main_content_div_stiles_variant_venako:hover{
  border: 1px solid #2A2824B2;
  cursor: pointer;
}
.product_form_main_content_div_stiles_variant_venako_rectangle{
  justify-self: center;
  padding-right: 10px;
  width: 48px;
  height: 24px;
  border-radius: 2px;
  border: 1px solid #2F2D2E;
  background-color: #2A2824B2;
}
.product_form_main_content_div_stiles_variant_vense{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  border: 1px solid #E9E4E0;
  border-radius: 8px;
  width: 99px;
  height: 40px;
}
.product_form_main_content_div_stiles_variant_vense_text{
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #2A2824B2;
}
.product_form_main_content_div_stiles_variant_vense:hover{
  border: 1px solid #2F2D2E;
  cursor: pointer;
}
.product_form_main_content_div_stiles_variant_vense_square{
  justify-self: center;
  padding-right: 10px;
  width: 24px;
  height: 24px;
  border-radius: 8px;
  border: 1px solid #C9C0BA;
  background-color: #E9E4E0;
}
.product_form_main_content_div_stiles_variant_leer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  border: 1px solid #E9E4E0;
  border-radius: 8px;
  width: 92px;
  height: 40px;
}
.product_form_main_content_div_stiles_variant_leer_text{
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #2A2824B2;
}
.product_form_main_content_div_stiles_variant_leer:hover{
  border: 1px solid #2F2D2E;
  cursor: pointer;
}
.product_form_main_content_div_stiles_variant_leer_elipse{
  justify-self: center;
  padding-right: 10px;
  width: 24px;
  height: 24px;
  border-radius: 360px;
  border: 1px solid #C9C0BA;
  background-color: #E9E4E0;
}
.product_form_main_content_div_size{
  margin-top: 24px;
  padding-left: 24px;
  display: grid;
  grid-template-columns: 25% 75%;
  max-width: 708px;
}
.product_form_main_content_div_size_text{
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.product_form_main_content_div_size_text_top{
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.product_form_main_content_div_size_text_bot{
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.04em;
  text-align: left;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #C4B0A2;
}

.product_form_main_content_div_size_variants{
  display: grid;
  grid-template-columns: 31% 79%;
  gap: 8px;
}
.product_form_main_content_div_size_variants_first{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 40px;
  padding: 12px;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid #E9E4E0;
}

.product_form_main_content_div_size_variants_first_checkbox{
  width: 16px;
  height: 16px;
  padding: 3px;
  border-radius: 8px;
  border: 1px solid #C4B0A2;
  color:#C4B0A2;
  cursor: pointer;
}
.product_form_main_content_div_size_variants_first:hover{
  border: 1px solid #2A2824B2;
}
/*.product_form_main_content_div_size_variants_first_checkbox::after{
  width: 10px;
  height: 10px;
  border: 1px solid #2A2824B2;
  border-color: #C4B0A2;
}*/
.product_form_main_content_div_size_variants_first_number{
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #2A2824B2;
}
.product_form_main_content_div_size_variants_second{
  display: flex;
  justify-content: start;
  align-items: center;
  width: 150px;
  height: 40px;
  padding: 12px;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid #E9E4E0;
}
.product_form_main_content_div_size_variants_second:hover{
  border: 1px solid #2A2824B2;
}

.product_form_main_content_div_colors{
  display: grid;
  grid-template-columns: 25% 75%;
  margin-top: 24px;
  padding-left: 24px;
  max-width: 708px;
}
.product_form_main_content_div_colors_text{
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #2A2824B2;
}
.product_form_main_content_div_colors_type{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 8px;
}
.product_form_main_content_div_colors_type_nature{
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: center;
  width: 203px;
  height: 40px;
  padding: 8px 16px 8px 8px;
  border-radius: 8px;
  border: 1px solid #E9E4E0;
}
.product_form_main_content_div_colors_type_nature:hover{
  border: 1px solid #2A2824B2;
  cursor: pointer;
}
.product_form_main_content_div_colors_type_nature_img{
  border-radius: 4px;
}
.product_form_main_content_div_colors_type_nature_text{
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #2A2824B2;
}
.product_form_main_content_div_colors_type_brown{
  display: grid;
  grid-template-columns: 25% 75%;
  align-items: center;
  width: 151px;
  height: 40px;
  padding: 8px 16px 8px 8px;
  border-radius: 8px;
  border: 1px solid #E9E4E0;
}
.product_form_main_content_div_colors_type_brown:hover{
  border: 1px solid #2A2824B2;
  cursor: pointer;
}
.product_form_main_content_div_colors_type_brown_img{
  border-radius: 4px;
}
.product_form_main_content_div_colors_type_brown_text{
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #2A2824B2;
}
.product_form_main_content_div_colors_type_graphite{
  display: grid;
  grid-template-columns: 25% 75%;
  align-items: center;
  width: 159px;
  height: 40px;
  padding: 8px 16px 8px 8px;
  border-radius: 8px;
  border: 1px solid #E9E4E0;
}
.product_form_main_content_div_colors_type_graphite:hover{
  border: 1px solid #2A2824B2;
  cursor: pointer;
}
.product_form_main_content_div_colors_type_graphite_img{
  border-radius: 4px;
}
.product_form_main_content_div_colors_type_graphite_text{
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #2A2824B2;
}

.product_form_main_content_div_pattern{
  display: grid;
  grid-template-columns: 25% 75%;
  margin-top: 24px;
  padding-left: 24px;
  max-width: 708px;
}
.product_form_main_content_div_pattern_text_top{
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color:#2A2824B2;
}
.product_form_main_content_div_pattern_text_bottom{
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.04em;
  text-align: left;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #C4B0A2;
}
.product_form_main_content_div_pattern_variant{
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  max-width: 732px;
}
.product_form_main_content_div_pattern_variant_first{
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: center;
  width: 93px;
  height: 40px;
  padding: 12px;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid #E9E4E0;
}
.product_form_main_content_div_pattern_variant_first_text{
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color:#2A2824B2;
}
.product_form_main_content_div_pattern_variant_first_checkbox{
  width: 16px;
  height: 16px;
  padding: 3px;
  border-radius: 8px;
  border: 1px solid #E9E4E0;
  color: #C4B0A2;
  cursor: pointer;
}

.product_form_main_content_div_legcolor{
  display: grid;
  grid-template-columns: 25% 75%;
  margin-top: 24px;
  padding-left: 24px;
  max-width: 708px;
}
.product_form_main_content_div_legcolor_text{
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #2A2824B2;
}
.product_form_main_content_div_legcolor_variant{
  display: grid;
  grid-template-columns: 112px 112px 112px;
  max-width: 732px;
}
.product_form_main_content_div_legcolor_variant_white{
  display: grid;
  grid-template-columns: 25% 75%;
  align-items: center;
  width: 102px;
  height: 40px;
  padding: 8px 16px 8px 8px;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid #E9E4E0;
}
.product_form_main_content_div_legcolor_variant_white:hover{
  border: 1px solid #2A2824B2;
  cursor: pointer;
}
.product_form_main_content_div_legcolor_variant_white_square{
  justify-self: center;
  padding-right: 10px;
  width: 24px;
  height: 24px;
  border-radius:4px;
  border: 1px solid #C9C0BA;
  background-color: #FFFFFF;
}
.product_form_main_content_div_legcolor_variant_white_text{
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #2A2824B2;
  margin-left: 6px;
}
.product_form_main_content_div_legcolor_variant_gray{
  display: grid;
  grid-template-columns: 25% 75%;
  align-items: center;
  width: 103px;
  height: 40px;
  padding: 8px 16px 8px 8px;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid #E9E4E0;
}
.product_form_main_content_div_legcolor_variant_gray:hover{
  border: 1px solid #2A2824B2;
  cursor: pointer;
}
.product_form_main_content_div_legcolor_variant_gray_square{
  justify-self: center;
  padding-right: 10px;
  width: 24px;
  height: 24px;
  border-radius:4px;
  border: 1px solid #2A2824B2;
  background-color: #2A2824B2;
}
.product_form_main_content_div_legcolor_variant_gray_text{
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #2A2824B2;
}
.product_form_main_content_div_legcolor_variant_black{
  display: grid;
  grid-template-columns: 25% 75%;
  align-items: center;
  width: 112px;
  height: 40px;
  padding: 8px 16px 8px 8px;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid #E9E4E0;
}
.product_form_main_content_div_legcolor_variant_black:hover{
  border: 1px solid #2A2824B2;
  cursor: pointer;
}
.product_form_main_content_div_legcolor_variant_black_square{
  justify-self: center;
  padding-right: 10px;
  width: 24px;
  height: 24px;
  border-radius:4px;
  border: 1px solid #2F2D2E;
  background-color: #2F2D2E;
}
.product_form_main_content_div_legcolor_variant_black_text{
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #2A2824B2;
}

/*Низ продукста*/
.product_form_main_content_div_price{
  display: grid;
  grid-template-rows: 50% 50%;
  width: 708px;
  height: 158px;
  border: 1px solid #E9E4E0;
  background-color: #E9E4E0;
  border-radius: 8px;
  padding: 16px;
  margin-top: 24px;
  margin-left: 24px;
}
.product_form_main_content_div_price_promo{
  display: grid;
  grid-template-rows: 50% 50%;
}
.product_form_main_content_div_price_promo_top{
  font-family: Manrope;
  font-size: 32px;
  font-weight: 800;
  line-height: 28px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #2F2D2E;
}
.product_form_main_content_div_price_promo_bottom{
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #2A2824B2;
}
.product_form_main_content_div_price_common_top{
  font-family: Manrope;
  font-size: 32px;
  font-weight: 800;
  line-height: 28px;
  text-align: left;
  text-decoration-line: line-through;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #C4B0A2;
}
.product_form_main_content_div_price_common_bottom{
  margin-top: 4px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #C4B0A2;
}
.product_form_main_content_div_price_buttons{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: start;
  width: 156px;
  height: 53px;
  border: 1px solid #C4B0A2;
  border-radius: 8px;
  background-color: #FBFBFB;
}
.product_form_main_content_div_price_buttons_minus{
  display: flex;
  justify-content:center;
  align-items: center;
  width: 52px;
  height: 52px;
  border-radius: 6px;
  border: 1px solid #C4B0A2;
  background-color: #FBFBFB;
}
.product_form_main_content_div_price_buttons_minus_in{
  width: 11.67px;
  height: 1.17px;
  top: 13.42px;
  left: 8.17px;
  border: 1px solid #C4B0A2;
  color: #C4B0A2;
}
.product_form_main_content_div_price_buttons_plus{
  display: flex;
  justify-content:center;
  align-items: center;
  width: 52px;
  height: 52px;
  border-radius: 6px;
  border: 1px solid #C4B0A2;
  background-color: #FBFBFB;
}
.product_form_main_content_div_price_buttons_plus_in{
  width: 14px;
  height: 14px;
  top: 7px;
  left: 7px;
  background:
    linear-gradient(#C4B0A2,#C4B0A2),
    linear-gradient(#C4B0A2,#C4B0A2);
  background-position:center;
  background-size: 14px 2px,2px 14px;
  background-repeat:no-repeat;
}
.product_form_main_content_div_price_buttons_counter{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 51px;
  height: 51px;
  border: 1px solid #FBFBFB;
  background-color: #FBFBFB;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.04em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #2F2D2E;
}
.product_form_main_content_div_price_basket{
  width: 497px;
  height: 52px;
  border: 1px solid #C4B0A2;
  border-radius: 8px;
  background-color: #C4B0A2;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #FFFFFF;
}
/*Выравниивание цены*/
.product_form_main_content_div_price_full{
  display: grid;
  grid-template-columns: 43% 57%;
}
.product_form_main_content_div_price_buttons_full{
  display: grid;
  grid-template-columns: 27% 73%;
}